@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'FremontBold';
    src: url('../fonts/FremontBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px black;
    }

    .text-stroke-blue {
        -webkit-text-stroke: 1px blue;
    }

    .text-stroke-white {
        -webkit-text-stroke: 0.3px white;
    }

    .text-stroke-2 {
        -webkit-text-stroke-width: 2px;
    }
}